@CHARSET "ISO-8859-1";
/*
Primary Color 
color: rgb(35, 147, 111);
Primary Color 
color: #23936f;

Secondary Color: rgb(81, 183, 172);
Secondary Color: #51b7ac;
*/

.gid-form input.form-control, .gid-form select.form-control, .gid-form textarea, .gid-form .input-group-addon  {
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
	border: 1px solid #51b7ac;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	height: 2em;
	
 -moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; /* future proofing */
-khtml-border-radius: 2px; /* for old Konqueror browsers */
}

 .gid-form textarea{
 	height: auto;
 }

.gid-form input.form-control:focus, .gid-form select.form-control:focus, .gid-form textarea:focus{
  box-shadow: 0 0 5px rgba(35, 147, 111, 1);
  padding: 3px 0px 3px 3px;
  border: 1px solid rgba(35, 147, 111, 1);
  background-color: #ffffff;
}

.gid-form .input-group-addon {
	background-color: #23936f;
	border: 1px solid #23936f;
	padding: 0 5px;
	color: #ffffff;
}

.gid-form .form-group label{
	font-weight: bold;
	color: #23936f;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

.gid-form h3{
	color: #23936f;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em !important;
	border-bottom: 1px solid rgba(81, 183, 172, 0.5);
	margin-top: 1.5em;
	
}

.gid-form h3:first-of-type{
	margin-top: 1em;
	
}

.gid-form .btn, .gid-form .btn-default{
	background-color: #23936f;
	color: #ffffff;
	border: 1px solid #23936f;	
	font-family: 'Roboto', sans-serif !important;
	height: 3em;
}

.gid-form .btn:hover, .gid-form .btn-default:hover{
	background-color: #51b7ac;
	color: #000000;
	border: 1px solid #51b7ac;
}

fieldset {
	border: 0 !important;
}

.form-group{
	margin-bottom: 20px;
}

